{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | safeHTML }}

{{ $figureCount := .Page.Scratch.Get "figureCount" }}
{{ if $figureCount }}
  {{ $newCount := add $figureCount 1 }}
  {{ .Page.Scratch.Set "figureCount" $newCount }}
  {{ $figureCount = $newCount }}
{{ else }}
  {{ .Page.Scratch.Set "figureCount" 1 }}
  {{ $figureCount = 1 }}
{{ end }}

<figure id="fig{{ $figureCount }}">
  <img src="{{ $src }}" alt="{{ $alt }}">
  <figcaption>Figure {{ $figureCount }}: {{ $alt }}</figcaption>
</figure>
