<!-- layouts/shortcodes/footnote.html -->
{{- $display := .Get "display" | default "true" -}}
{{- $scratch := .Page.Scratch -}}
{{- $footnotes := $scratch.Get "footnotes" | default slice -}}
{{- $index := add (len $footnotes) 1 -}}
{{- $footnotes = $footnotes | append (dict "index" $index "content" .Inner "display" $display) -}}
{{- $scratch.Set "footnotes" $footnotes -}}
{{- $scratch.Set "lastFootnoteIndex" $index -}}

{{ if eq $display "true" }}
  <sup><a href="#fn-{{ $index }}" id="ref-{{ $index }}">†{{ $index }}</a></sup>
{{ end }}
