{{ $display := .Get "display" | default true }}

{{ $refs := $.Page.Scratch.Get "refs" }}
{{ if not $refs }}
    {{ $.Page.Scratch.Set "refs" slice }}
{{ end }}
{{ $refs = $.Page.Scratch.Get "refs" }}

{{ $newRef := dict "url" (.Get "content") "citation" (.Get "citation") }}

{{ $alreadyExists := false }}
{{ $index := 1 }}
{{ $existingIndex := 0 }}

{{ range $i, $ref := $refs }}
    {{ if eq $ref.url $newRef.url }}
        {{ $alreadyExists = true }}
        {{ $existingIndex = add $i 1 }}
    {{ end }}
{{ end }}

{{ if eq $alreadyExists false }}
    {{ $refs = $refs | append $newRef }}
    {{ $.Page.Scratch.Set "refs" $refs }}
    {{ $index = len $refs }}
{{ else }}
    {{ $index = $existingIndex }}
{{ end }}

{{ $id := print "ref-" $index }}
{{ $bibId := print "bib-" $index }}
{{ $.Page.Scratch.Set "lastReference" $id }}

{{ if eq $display true }}
<a class="sup-link" id="{{ $id }}" href="#{{ $bibId }}"><sup>{{ $index }}</sup></a>
{{ end }}
