{{ $source := .Get "source" }}
{{ if not $source }}
  {{ errorf "Source is required for blockquote shortcode" }}
{{ end }}
{{ $scratch := .Page.Scratch }}
{{ $citations := $scratch.Get "citations" | default slice }}
{{ $citationKey := md5 $source }}
{{ $citationExists := false }}
{{ $index := 0 }}
{{ range $i, $existingCitation := $citations }}
  {{ if eq $existingCitation.key $citationKey }}
    {{ $citationExists = true }}
    {{ $index = $existingCitation.index }}
  {{ end }}
{{ end }}
{{ if not $citationExists }}
  {{ $index = add (len $citations) 1 }}
  {{ $newCitation := dict "key" $citationKey "content" $source "index" $index }}
  {{ $citations = $citations | append $newCitation }}
  {{ $scratch.Set "citations" $citations }}
{{ end }}
<blockquote>
  <p>"{{ .Inner | markdownify }}"</p>
  <footer>
    -- {{ $source }} <a href="#bib-{{ $citationKey }}" id="cite-{{ $citationKey }}">[{{ $index }}]</a>
  </footer>
</blockquote>