<!-- layouts/shortcodes/citation.html -->
{{- $url := .Get "url" -}}
{{- $content := .Get "content" -}}
{{- $ref := .Get "ref" -}}
{{- $id := .Get "id" -}}
{{- $innerContent := trim (.Inner | plainify) " \n\r\t" -}}
{{- $citationKey := "" -}}
{{- $citationContent := "" -}}
{{- if $id -}}
  {{- $citationKey = $id -}}
{{- else if $ref -}}
  {{- $citationKey = $ref -}}
{{- else if $url -}}
  {{- $citationKey = md5 $url -}}
  {{- $citationContent = printf "URL: %s" $url -}}
{{- else if $content -}}
  {{- $citationKey = md5 $content -}}
  {{- $citationContent = $content -}}
{{- else if $innerContent -}}
  {{- $citationKey = md5 $innerContent -}}
  {{- $citationContent = $innerContent -}}
{{- else -}}
  {{- errorf "Citation shortcode requires at least one of: url, content, inner content, ref, or id" -}}
{{- end -}}
{{- $page := .Page -}}
{{- $citations := $page.Scratch.Get "citations" | default slice -}}
{{- $citationExists := false -}}
{{- $index := 0 -}}
{{- range $i, $existingCitation := $citations -}}
  {{- if eq $existingCitation.key $citationKey -}}
    {{- $citationExists = true -}}
    {{- $index = add $i 1 -}}
    {{- if not $existingCitation.content -}}
      {{- $existingCitation = merge $existingCitation (dict "content" $citationContent "url" $url) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if not $citationExists -}}
  {{- $index = add (len $citations) 1 -}}
  {{- $newCitation := dict "key" $citationKey "content" $content "citationContent" $citationContent "url" $url "index" $index -}}
  {{- $citations = $citations | append $newCitation -}}
  {{- $page.Scratch.Set "citations" $citations -}}
{{- end -}}
{{- if and (not $url) (not $content) (not $innerContent) -}}
<a href="#bib-{{ $citationKey }}" id="cite-{{ $citationKey }}">[{{ $index }}]</a>
{{- else -}}
<sup><a href="#bib-{{ $citationKey }}" id="cite-{{ $citationKey }}">[{{ $index }}]</a></sup>
{{- end -}}