<!-- layouts/shortcodes/citation.html -->
{{- $url := .Get "url" -}}
{{- $title := .Get "title" -}}
{{- $content := .Get "content" -}}
{{- $innerContent := trim (.Inner | plainify) " \n\r\t" -}}

{{- $citationKey := "" -}}
{{- $citationContent := "" -}}

{{- if $url -}}
  {{- $citationKey = $url -}}
  {{- $citationContent = printf "URL: %s" $url -}}
{{- else if $title -}}
  {{- $citationKey = $title -}}
  {{- $citationContent = printf "Title: %s" $title -}}
{{- else if $content -}}
  {{- $citationKey = md5 $content -}}
  {{- $citationContent = $content -}}
{{- else if $innerContent -}}
  {{- $citationKey = md5 $innerContent -}}
  {{- $citationContent = $innerContent -}}
{{- else -}}
  {{- errorf "Citation shortcode requires at least one of: url, title, content, or inner content" -}}
{{- end -}}

{{- $page := .Page -}}
{{- $citations := $page.Scratch.Get "citations" | default slice -}}
{{- $citationExists := false -}}
{{- $index := 0 -}}

{{- range $i, $existingCitation := $citations -}}
  {{- if eq $existingCitation.key $citationKey -}}
    {{- $citationExists = true -}}
    {{- $index = add $i 1 -}}
  {{- end -}}
{{- end -}}

{{- if not $citationExists -}}
  {{- $index = add (len $citations) 1 -}}
  {{- $newCitation := dict "key" $citationKey "content" $citationContent "index" $index -}}
  {{- $citations = $citations | append $newCitation -}}
  {{- $page.Scratch.Set "citations" $citations -}}
{{- end -}}

<sup><a href="#bib-{{ $citationKey }}" id="cite-{{ $citationKey }}">[{{ $index }}]</a></sup>