{{/* layouts/partials/getNumbering.html */}}
{{ $level := .level }}
{{ $scratch := .scratch }}

{{ $currentLevel := $scratch.Get "currentLevel" }}

{{ if ne $level $currentLevel }}
  {{ if gt $level $currentLevel }}
    {{ range seq (add $currentLevel 1) (add $level 1) }}
      {{ $scratch.Set (printf "level%d" .) 0 }}
    {{ end }}
  {{ else }}
    {{ range seq (add $level 1) (add $currentLevel 1) }}
      {{ $scratch.Set (printf "level%d" .) 0 }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $scratch.Add (printf "level%d" $level) 1 }}
{{ $scratch.Set "currentLevel" $level }}

{{ $number := slice }}
{{ range seq 1 (add $level 1) }}
  {{ $levelValue := $scratch.Get (printf "level%d" .) }}
  {{ if ne $levelValue 0 }}
    {{ $number = $number | append $levelValue }}
  {{ end }}
{{ end }}

{{ $scratch.Set "result" (delimit $number ".") }}